.about-container {
  text-align: center;
}

.about-logo {
  background-color: #1b9fbd;
  width: 200px;
  height: 75px;
  display: block;
  margin: 0 auto;
  background-image: url('../assets/rs-school-logo.svg');
}

.container-author {
  display: flex;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px 0 0 10px;
  align-items: center;
}

.img-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 15px;
}

.img-authors {
  max-width: 200px;
  max-height: 200px;
  border-radius: 20px;
}

.about-title {
  font-size: 1.5em;
  padding-bottom: 0px;
  padding-top: 10px;
}
.name-title {
  font-size: 2em;
  padding-bottom: 5px;
  margin-right: 10px;
}

@media (max-width: 800px) {
  .container-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
