.login-form {
  position: absolute;
  left: calc(50vw - 130px);
  top: calc(50vh - 135px);
}

.login-form_input-box {
  margin-top: 30px;
}

.pass-toggle-icon-passive,
.pass-toggle-icon-active {
  cursor: pointer;
}

.login-form button {
  margin-top: 20px;
}
