.user-profile_information,
.user-profile_default-addresses,
.user-profile_saved-addresses {
  width: 80vw;
  background: #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #212529;
  margin: 40px auto 0;
  padding: 20px;
  z-index: 100;
}

.user-profile_addresses {
  width: 80vw;
  background: #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #212529;
  margin: 40px auto 0;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
  padding-bottom: 30px;
}

input {
  height: 40px;
  background: #f0f0f0;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #212529;
  padding: 10px 45px 10px 20px;
}

.information-input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.information-input input {
  min-width: 20%;
}

.container-default-addresses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.container-addresses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.shipping-default-addresses,
.billing-default-addresses {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 45%;
  min-width: 280px;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

.shipping-addresses,
.billing-addresses {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 45%;
  min-width: 280px;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

.billing-default-addresses {
  background: rgba(245, 252, 255, 0.187);
}

.shipping-addresses {
  background: rgba(245, 252, 255, 0.187);
}

.billing-addresses {
  background: rgba(245, 252, 255, 0.187);
}

label {
  margin-right: 10px;
}

.shipping-default-addresses span,
.billing-default-addresses span {
  margin-top: 50px;
}

.shipping-default-addresses button,
.billing-default-addresses button {
  width: 100%;
  height: 35px;
  background: #ffffff5e;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px;
}

.shipping-default-addresses button:hover,
.billing-default-addresses button:hover {
  background: #dbf9ff;
}
.shipping-default-addresses button:disabled,
.billing-default-addresses button:disabled {
  background: #b1b1b1;
  color: #8c8c8c;
  cursor: default;
}

.user-profile_edit-data {
  width: 48%;
  height: 35px;
  background: #ffffff5e;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-profile_edit-data:hover {
  background: #dbf9ff;
}

.user-profile_edit-data:disabled {
  background: #b1b1b1;
  color: #8c8c8c;
  cursor: default;
}

.user-profile_change-password {
  width: 48%;
  height: 35px;
  background: #ffffff5e;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 4%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-profile_change-password:hover {
  background: #dbf9ff;
}

.user-profile_change-password:disabled {
  cursor: default;
}

.user-profile_save-data {
  width: 100%;
  height: 35px;
  background: #ffffff5e;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.user-profile_save-data:hover {
  background: #dbf9ff;
}

.user-profile_save-data:disabled {
  background: #b1b1b1;
  color: #8c8c8c;
  cursor: default;
}

.form-change-password_wrapper {
  z-index: 1000;
  display: none;
}

.user-profile_information {
  z-index: 1000;
}

.information-input {
  z-index: 1000;
}

.form-change-password_wrapper::before {
  position: absolute;
  content: '';
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.user-profile_form-change-password {
  display: flex;
  flex-direction: column;
  background-color: #ccbfa3;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -275px;
  margin-top: -191px;
  z-index: 1000;
  opacity: 1;
  width: 550px;
  height: auto;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #fff;
  padding: 60px 20px 20px;
  gap: 10px;
}

.user-profile_form-change-password label {
  margin-right: 15px;
}

.user-profile_form-change-password button {
  align-self: center;
  margin-top: 15px;
  width: 48%;
  height: 35px;
  background: #ffffff5e;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}

.user-profile_form-change-password button:hover {
  background: #dbf9ff;
}

.user-profile_form-change-password button:disabled {
  background: #b1b1b1;
  color: #8c8c8c;
  cursor: default;
}

.turn-visibility-pass {
  position: absolute;
  top: 10px;
  right: 15px;
}

.button-change_wrapper {
  margin: 40px;
}

@media (max-width: 900px) {
  .user-profile_information,
  .user-profile_default-addresses,
  .user-profile_saved-addresses {
    backdrop-filter: none;
  }
}
