.container-detail {
  display: flex;
  flex-direction: column;
}

.slide-container {
  margin-right: 0;
}

.image-gallery-slides{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 466px;
}

.image-gallery-content.fullscreen {
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0000002e;
}

@media (min-width: 770px) {
  .container-detail {
    flex-direction: row;
  }
  .slide-container {
    margin-right: 20px;
  }

  .image-gallery-content.fullscreen {
    width: 60%;
  }
}
