.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 30vw;
  margin: 10px;
  text-align: center;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-image {
  width: 100%;
  height: auto;
  max-width: 250px;
}

.product-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-details {
  padding: 16px;
  flex-grow: 1;
}

.price-wrapper {
  width: 100%;
}

.price {
  padding: 16px;
  font-size: 24px;
  background: white;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 8px;
}

.discounted-price {
  color: #e60023;
  font-weight: bold;
}

@media (max-width: 980px) {
  .product-card {
    width: 45vw;
  }
}

@media (max-width: 680px) {
  .product-card {
    width: 100vw;
  }
}
