.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  flex: 1;
}

.search-icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c4d70;
  font-size: 32px;
  padding: 0;
}

.product-grid-container {
  display: flex;
}

.sidebar-filters {
  width: 300px;
  padding: 10px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-header {
  margin-bottom: 10px;
}

@media (max-width: 980px) {
  .product-grid {
    gap: 1px;
  }
}

@media (max-width: 680px) {
  .product-grid-container {
    flex-direction: column;
    align-items: center;
  }
}
