.view-details-button {
  display: block;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: 20px;
}

.view-details-button:hover {
  background-color: #0056b3;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 35vw;
  margin: 10px;
  text-align: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card:hover h3 {
  color: #001f3f;
}

.product-image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-image {
  width: 100%;
  height: auto;
  max-width: 250px;
}

.product-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-details {
  padding: 16px;
  flex-grow: 1;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.product-card:hover .product-details {
  background-color: #cff1fc;
  transform: translateY(-1px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.prices {
  padding: 16px;
  font-size: 24px;
  background: #fff;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 8px;
}

.discounted-price {
  color: #e60023;
  font-weight: bold;
}

@media (max-width: 1250px) {
  .product-card {
    width: 60vw;
  }
}
