.category-link {
  color: black;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
}

.category-list a:hover {
  text-decoration: underline;
}

.category-list {
  list-style-type: none;
  padding-left: 0;
}

.category-list li:not(:first-child) {
  list-style-type: disc;
  margin-left: 20px;
}

.price-filter-input-group {
  border-radius: 5px;
  padding: 10px;
}

.price-filter-input-group .form-control {
  background-color: #f0f0f0;
  color: #333;
}

.custom-select {
  width: 240px;
  margin-top: 15px;
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  outline: none;
  cursor: pointer;
}

.custom-select__item {
  background-color: #fff;
  color: #333;
}

.custom-select__item:hover {
  background-color: #145d76;

  color: #ffffff;
}
.custom-select__item:checked {
  background-color: #145d76;

  color: #ffffff;
}

.custom-select__item:selected {
  background-color: #145d76;
  color: #fff;
}

@media (max-width: 700px) {
  .filter-categories {
    display: none;
  }
}
