.logout-button {
  margin-right: 10px;
}

.btn-dark {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 0;
}

.btn-dark:focus,
.btn-dark:active,
.btn-dark:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn-dark .svg-icon {
  width: 20px; /* Уменьшим размер иконки */
  height: auto;
}
