.navbar {
  width: 100%;
  height: 80px;
  font-size: 25px;
  gap: 10px;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.about-us {
  position: absolute;
  left: 0;
  padding-left: 10px;
}

@media (max-width: 776px) {
  .navbar {
    height: auto;
  }

  .about-us {
  position: relative;
  left: 0;
  }
}

@media (max-width: 580px) {
  .navbar {
    font-size: 16px;
    padding: 0;
    gap: 1px;
  }

  button.btn-dark.btn-lg.btn.btn-primary {
    padding: 0;
    padding-right: 10px;
  }
}
