.navbar {
  width: 100%;
  height: 80px;
  font-size: 25px;
  gap: 10px;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 600px) {
  .navbar {
    gap: 2px;
    font-size: 20px;
  }
}
